<li><a href='/'>Home</a></li>
<ul>
  <li><a href='/admin/search'>Add a New Parent</a></li>
  <li><a href="/parents">View all Parents</a></li>
  <li><a href="/students">View all Students</a></li>
  <li><a href="/admin/student/new">Add new student</a></li>
</ul>
<form action="/students/find/" method="get">

    <h2>Search student by name:</h2>
    <input id="name" name="name" type="text">


    <button type="submit">Search</button>
</form>
