
  <div class="container search">
    <div class="row">
      <div class="col-md-6">
    <form action="/students/find/" method="get" >

        <h2>Search student by name:</h2>
        <input id="name" name="name" type="text" class="form-control">

        <br>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    </div>
    </div>
    <ul>
      <li><a href='/admin/search'>Add a New Parent</a></li>
      <li><a href="/parents">View all Parents</a></li>
      <li><a href="/students">View all Students</a></li>
      <li><a href="/admin/student/new">Add new student</a></li>
      <li><a href="/admin/teachers">Assign an assignment</a></li>
    </ul>
</div>
