<div class="login_form">
  <form action="/parents/find/" method="get" class="form-inline">

      <h2>Parent Login:</h2>
      <h3>Username:</h3>
      <input id="username" name="username" type="text" class="form-control">

      <h3>password:</h3>
      <input id="password" name="password" type="password" class=form-control>


      <button type="submit">Login</button>
  </form>
</div>
<br>
<button type="button" name="button" id="login_form" class='btn btn-info'>Parent Login</button>
