
 <form action="/parents/find/" method="get">

     <h2>Parent Login:</h2>
     <h3>Username:</h3>
     <input id="username" name="username" type="text">

     <h3>password:</h3>
     <input id="password" name="password" type="password">


     <button type="submit">Login</button>
 </form>
