<h1>Welcome to Moringa High </h1>

 <p>
   Track your Child(ren) activities and performance in our school throughout the term.
 </p>

 <ul>
   <li><a href='/parents/new'>Add a New Parent</a></li>
   <li><a href="/parents">View all Parents</a></li>
   <li><a href="/students">View all Students</a></li>
   <li><a href="/admin/student/new">Add new student</a></li>
 </ul>



 <form action="/students/find/" method="get">

     <label for="name">Stream:</label>
     <input id="name" name="name" type="text">


     <button type="submit">Search</button>
 </form>
