
<body>
<form action="/students/find/" method="get" class = 'form-inline' style="text-align:center">
    <h2>Search Student</h2>
  <div class="row">
    <label for="name">Name:</label>
    <input id="name" name="name" type="text" required class="form-control">
    <button type="submit" class="btn btn-info">Search</button>
</form>
</body>
