

<h1>Search For an existing Student by name:</h1>


<form action="/students/find/" method="get">
  <div class="row">
    <div class="col-md-5">
    <label for="name">Name:</label>
    <input id="name" name="name" type="text" required class="form-control">
  </div>
</div>
<br>
    <button type="submit">Search</button>
</form>

<li><a href='/'>Home</a></li>
