<h1>Parents</h1>
 <% if @parents == [] %>
 <p>There are no parents saved in the database. </p>
 <% else %>
 <ul>
   <% @parents.each() do |parent| %>
   <li><a href='/parent/<%= parent.id() %>'><%= parent.name() %></a></li>
   <% end %>
 </ul>
 <% end %>
 <ul>
 </ul>
