

<h1>Search For an existing Student by name:</h1>


<form action="/students/find/" method="get">

    <label for="name">Stream:</label>
    <input id="name" name="name" type="text" required>


    <button type="submit">Search</button>
</form>
