<h3>All students</h3>

<% if @students.any?()%>
  <% @students.each do |student|%>
  <a href="/admin/student/<%= student.id%>">
    <p><%= student.name%></p>
  </a>
<% end %>
<% else %>
<p>No students in this school yet</p>
<% end %>
