<h3>All students</h3>

<% if @students.any?()%>
<ul>
  <% @students.each do |student|%>
  <a href="/admin/student/<%= student.id%>">
    <li><%= student.name%></li>
  </a>
</ul>
<% end %>
<% else %>
<p>No students in this school yet</p>
<% end %>

<li><a href='/'>Home</a></li>
