<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2 class="h2 text-success">Teachers:</h2>
      <ul class="list-group">
          <li class="list-group-item"><a href="/admin/teacher/1">Teacher 1</a></li>
          <li class="list-group-item"><a href="/admin/teacher/2">Teacher 2</a></li>
          <li class="list-group-item"><a href="/admin/teacher/3">Teacher 3</a></li>
          <li class="list-group-item"><a href="/admin/teacher/4">Teacher 4</a></li>
      </ul>
    </div>
  </div>
</div>
