<ul>
    <li><a href="/admin/teacher/1">Teacher 1</a></li>  
    <li><a href="/admin/teacher/2">Teacher 2</a></li>  
    <li><a href="/admin/teacher/3">Teacher 3</a></li>  
    <li><a href="/admin/teacher/4">Teacher 4</a></li>
</ul>